* {
    margin: 0;
    padding:0;
}  



body {
font-size: 62.5%;
margin:1px;
padding:1px;
}

header {
    font-size: 100px;
    background:white;
    margin:0;
    padding:0;
    text-align: center;
    height: 90;
    font-weight: 1500px;
    border-bottom: 3px solid black;
    border-bottom-style: double;
    font-family: arial;
    font-stretch: ultra-expanded;
    word-spacing:25px;
    border-bottom: 4px solid black;
    border-bottom-style: double;
}


  /* How to the first letter on the nav words highlight */

.slide img {
    border-radius: 50%;
    border: 2pc double green;
}



nav {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    background: white;
    word-spacing: 9px;
    padding:20px;
    line-height: 40px;
    }

a { 
    color: green;
    width:100%;
    padding:15px 1px 1px 5px;
    text-align: center;
    font-family: Times New Roman;
    font-weight: 900;
    text-decoration-line: underline;
    font-size: 35px;  
}

a:link, a:visited {
    text-decoration:none;
}

a:hover{
    background-color: rgb(36, 143, 80);
}

.slider{
    padding-top: 20px;
    background: white;
    overflow:hidden;
    border-bottom: 3px solid black;
    border-bottom-style: double;  
}
.slider figure div {
    width: 20%;
    float:left;
}

.slider figure img {
    width: 80% ;
    float: left;
}
.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slidy 10s infinite;
}



@keyframes slidy {

    0%{
    left:0;
    }
    
    10%{
    left:-100%;
    }
    
    20%{
    left:-100%;
    }
    
    30%{
    left:-200%;
    }
    
    40%{ 
    left:-200%;
    }

    50%{
     left:-300%   
    }
    
    60%{
    left: -300%;
    }
    
    70% {
    left: -400%;
    }

    80% {
    left:-400%;
    }
    
    90% {
    left: -500%;
    }
    100% {
    left: -500%;
    }
}
   
    .homepageinfo {
        display: inline-block;
        width:100%;
        padding:20px;
        margin: 0 10px 0 0;
    }

    .homepageinfo h1 {
        text-align: center;
        font-size: 42px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-stretch: ultra-expanded;
        padding: 7px;
    }


    .left {
        float: left;
        /* display: inline-block; */
        width:50%;
        padding-left: 10px;
        width:600px;
        border-left: 4px solid black;
        border-right: 4px solid black;

    }

    .right {
        float: right;
        /* display: inline-block; */
        width:50%;
        border-right: 4px solid black;

       }

    

    h1 { 
        text-align: center;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-stretch: ultra-expanded;
    }

    h1::before,
    h1::after {
        content:"";
        display: inline-block;
        width: 24px;
        height:24px;
        border-radius:50%;
        background-color: #57ba1d;
        margin: 0 10px;
    }

    h2 {
        font-size: 40px;

    }

    h3 {
        font-size:30px;
    }

    .specoff li {
        font-size: 20px;
        border: solid 1px;
        border-color: black;
        margin:2px 3px;
        margin-right: 75px;
        margin-left: 5px;
        margin-bottom: 12px;
        color: #57ba1d;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;
        font-stretch: semi-condensed;
    }

    .specoff li::before {
        content: "PDF";
        font-size:15px;
        border: 2px solid black;
    }

   footer {
       margin:12px;
       padding: 12px;
       font-size: 15px;
       font-weight: 210;
       text-align: center;
       border-top: 4px double black;

   }


/*everything below here is the menu page */

   .label {
        text-align: center;
        font-size: 30px;
        color:white;
        font-weight: 510;
        background: green;
        word-spacing: 9px;
        padding:20px;
        line-height: 40px;
        border: 3px double black;
        margin: 3px;
   }

   .topmenu {
       margin-top: 12px;
   }

.mainmenu { 
width: 97%;
margin-top: 19px;
display: inline-block;
text-align: center;
padding: 18px;
font-size: 21px;
color:green;
font-weight: 510;
border: 4px double black;
border-radius: 11%;;
margin-bottom: 14px
}



.mainmenu img {
    border: 3px solid black;
    border-radius: 50%;
    padding: 3px;
    margin: 2px;
}

.bimg {
    margin-top: 20px;
    float:left;
    padding: 5px;
}
.mainmenu button {
    font-size: 20px;
    padding:3%;

}
.line {
    border-bottom: 3px double black;
}


.create {
display: inline-block;
width: 97%;
border: 4px double black;
border-radius: 11%;

text-align: center;
padding: 18px;
font-size: 21px;

margin: 19px 0px 14px 0px;
}


.l { 
    width: 300px;
    float: left;
    margin-right: 50px;
    margin-left:40px;
    padding: 5 px;
    vertical-align:top;
}


#crpara {
    
    margin-top: 0;
    text-align: left;
    float:left;
    padding: 25px;
    border-bottom: 3px black solid;
    margin-bottom: 10px;

}

#cpara h3 {

}

#cpara p {
}

#creatimg {

}
#creatimg p {
    
    
}
#creatimg img{
    
}
#creatimg  output{
    
}

.l{
    positioin: absolute;
    widows: 50px;   
}
.outerbox {

}

.checkboxlist {


}

.checkboxlist {

    width: 280px;
    font-size: 20px;
    text-align:  left;
    margin: 2px;
    background-color:green;
    color: black;
    padding: 10px;
    word-spacing: 5px;
    margin-left: 24px;
    }

    


input {
    margin-left: 11px;
}

#checkbox h4 { 
    font-size: 18px;
    margin: 15px;
    text-align: left;
    color: black;
}
.menubottom h2 {
    font-size:22px;
    text-align: right;
    letter-spacing: 0; 
    padding-right: 260px;   
}

.delivery {
    display: block;
    align-content: center;
    text-align: right;
    padding-right: 260px;
}

#d1 {
    background-color:yellow:
    left:;
    top:;
}
#d2 {
    background-color:yellow:
    left:;
    top:;
}
#d3 {
    background-color:yellow:
    left:;
    top:;
}